<!DOCTYPE html>
<html>
<head>
  <title>Голов Виктор<%= @title %></title>
  <meta name="description" content="Голов Виктор. Личная страница." />
  <meta name="keywords" content="голов, виктор, голов виктор, резюме, личная страница, golov, victor, golov victor" />
  <link rel="icon" type="image/png" href="favicon.png" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="inner">
      <h1>
        Hi there! This is my website =)
      </h1>
      <h2>
        Golov Victor
      </h2>
      <a href="/"></a>
    </div>
  </header>

  <div id="main">
    <div class="inner clearfix">

      <section>
        <%= yield %>
      </section>

      <aside>
        <%= render "shared/aside" %>
      </aside>

    </div>
  </div>

</body>
</html>
