<!DOCTYPE html>
<html>
<head>
  <title>Голов Виктор<%= @title %></title>
  <meta name="description" content="Голов Виктор. Личная страница." />
  <meta name="keywords" content="голов, виктор, голов виктор, резюме, личная страница, golov, victor, golov victor" />
  <meta name="google-site-verification" content="PvcqNtT5d3KcQVZ2odsxptK4fF5hGlILiixeWFL1_Cs" />
  <link rel="icon" type="image/png" href="favicon.png" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="inner">
      <h1>
        Hi there! This is my website =)
      </h1>
      <h2>
        Golov Victor
      </h2>
      <a href="/"></a>
    </div>
  </header>

  <div id="main">
    <div class="inner clearfix">

      <section>
        <%= yield %>
      </section>

      <aside>
        <%= render "shared/aside" %>
      </aside>

    </div>
  </div>

  <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25170968 = new Ya.Metrika({id:25170968, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25170968" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

</body>
</html>
